<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735547353287-nf6l3422lp9uddppsb7gdv784nns1bqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735547353287-nf6l3422lp9uddppsb7gdv784nns1bqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735547353287-9arb09j89e975qgmqf6g9uum944s32nu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Xpce54cjRzPnNQQPjkSbMrCKBk1LQbI</string>
	<key>GCM_SENDER_ID</key>
	<string>735547353287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.maxcoin</string>
	<key>PROJECT_ID</key>
	<string>max-coin-b14a8</string>
	<key>STORAGE_BUCKET</key>
	<string>max-coin-b14a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735547353287:ios:2949c9ea3e80d9280cb6e2</string>
</dict>
</plist>